/target
**/*.rs.bk
Cargo.lock.bak

# Workspace artifacts
/assets/mellstroy/*.mp4
/assets/mellstroy/*.json
/assets/clips/**
/assets/images/**
/assets/sounds/**
/assets/videos/**
/assets/particles/**
!/assets/internal_images/**
/clips/**
/out/
/.cache/

# Editor
.idea/
.vscode/
*.swp
.DS_Store
